.nav{
    background-color: rgb(246, 204, 100);
    padding: 18px 36px;
}
.nav a{
    margin-right: 15px;
    color: white;
    font-family: monospace;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;  
}
.nav a:hover{
    text-decoration: underline;
    color: orange;

}
.nav a:active{
    color: slategray;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    margin-right: 20px;
}
.nav-item:hover{
    color: blanchedalmond;
}
.collapse{
    margin-right: 50px;
}

